# Importamos las librerias necesarias

In [51]:
import pandas as pd
import json
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

- Cargamos el archivo localmente

In [37]:
dfAlabama = pd.read_json('C:/Users/Jonathan y Johana/Desktop/DATA/Google Maps/reviews-estados/review-Alabama/1.json', lines=True)

Visualizamos los datos

In [38]:
dfAlabama

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.140438e+20,Kanisha Mixon,1597168272670,5,Very Personable staff! Beautiful and clean env...,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
1,1.160090e+20,Brandie Hodges,1609899039594,5,Best clothing intown,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
2,1.062399e+20,Sharon King,1547235290843,4,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
3,1.049701e+20,Veronica Pierce,1517709403534,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
4,1.105875e+20,Whitney Waldon Collier,1535245718492,5,None,None,None,0x8862134e67ff5c87:0x38b5e2ae99cd1fcf
...,...,...,...,...,...,...,...,...
149995,1.165082e+20,Lee Lee,1601666489107,5,Just a good old hardware friendly people,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149996,1.080208e+20,Hayward Salter,1621994613217,5,Good people,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149997,1.054646e+20,James McBride,1601863228986,4,Good for locals needing supplies to fix damage...,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149998,1.118869e+20,Karen Sullivan,1593013285677,1,Very rude female employees at the cash counter...,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2
149999,1.109920e+20,Scott Reid,1573317350293,4,Good hardware and lumber store. Prices on lumb...,None,None,0x889a89fd92d55353:0x78e335f5e98e75b2

- Cargamos el CSV tratado en el EDA de metadata para tener los id necesarios

In [40]:
dfH = pd.read_csv("id_hoteles.csv")

In [41]:
dfH

                                   gmap_id
0    0x54907fca2751e187:0x3d6ae31ac18da483
1    0x88062b28cb53ef6d:0x94df72568fddf391
2    0x549b9d4ad8f113d5:0x8258a10cca866a62
3    0x549b9db4d73626a3:0x348e8f7106d3be41
4    0x4d55cee0af102c25:0x752b313677a78e1c
..                                     ...
656  0x52c9b83cc876987b:0x9a998c9eff52cffb
657  0x890069b8ea819cb1:0xd7a54f4a9948981e
658  0x52ca657620217cbd:0x34248c4fd46963c4
659  0x89c187f380b12d37:0x4e23f8e4a416fe6d
660  0x89c0ee66816695c3:0x7c3a07cdaf253759

[661 rows x 1 columns]

- Creamos la funcion para pdoder filtrar los datos y trabajar unicamente con los que necesitamos

In [52]:
def filtrar_comentarios_por_id(df_comentarios, df_ids, columna_id):
  
    # Extraer los IDs necesarios del DataFrame df_ids
    ids_necesarios = dfH["gmap_id"]

    # Filtrar los comentarios por los IDs presentes en df_ids
    comentarios_filtrados = dfAlabama[dfAlabama["gmap_id"].isin(ids_necesarios)]

    return comentarios_filtrados

# Ejemplo de uso de la funciÃ³n
comentarios_filtrados = filtrar_comentarios_por_id(dfAlabama, dfH, 'ID')

- Accionamos la funcion

In [47]:
df_h = filtrar_comentarios_por_id(dfAlabama, dfH, 'gmap_id')

In [48]:
df_h

,user_id,name,time,rating,text,pics,resp,gmap_id
1063,1.149921e+20,Cherena Dukes,1574336225144,4,Nice homes in fairly new subdivisions.,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e
1064,1.096825e+20,Lee Morrison,1543167503668,2,Roads are terrible. Neighbors park in yards. ...,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e
1065,1.016355e+20,Yolanda Lee,1511012869245,4,None,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e
1066,1.179038e+20,Alex Montgomery,1470080056470,5,None,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e
1067,1.091065e+20,Kellye Talley,1523618730754,5,None,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e
...,...,...,...,...,...,...,...,...
14576,1.111875e+20,justin brewer,1468234952507,3,The price was really cheap but the customer se...,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346
14577,1.024580e+20,Lori Jackson,1468821079404,5,not to far from the beach. basic rooms but cle...,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346
14578,1.160667e+20,Amanda Coburn,1467180154794,2,Going through a remodel...,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346
14579,1.142130e+20,Rita Clark,1490455631945,4,None,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346
14580,1.082172e+20,Timothy Sanford,1451746099097,5,None,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346

- Creamos funsiones para hacer un analisis de sentimiento en el comentario de los usuarios.

In [58]:
def map_score_to_1_5(score):
    # Mapear el puntaje de sentimiento a la escala de 1 a 5
    mapped_score = ((score + 1) / 2) * 4 + 1
    return mapped_score

def agregar_score_sentimiento(df):
    # Inicializar el analizador de sentimientos VADER
    sia = SentimentIntensityAnalyzer()

    # Calcular el puntaje de sentimiento para cada comentario y agregarlo como una nueva columna
    df['score_sentimiento'] = df['text'].apply(lambda comentario: map_score_to_1_5(sia.polarity_scores(comentario)['compound']) if comentario is not None else 0.0)

    return df

- Accionamos la funsion de analisis de sentimiento.

In [59]:
df_h_analisis = agregar_score_sentimiento(df_h)

C:\Users\Jonathan y Johana\AppData\Local\Temp\ipykernel_1172\469718609.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['score_sentimiento'] = df['text'].apply(lambda comentario: map_score_to_1_5(sia.polarity_scores(comentario)['compound']) if comentario is not None else 0.0)

- Visuaizamos el nuevo df que nos genero.

In [60]:
df_h_analisis

,user_id,name,time,rating,text,pics,resp,gmap_id,score_sentimiento
1063,1.149921e+20,Cherena Dukes,1574336225144,4,Nice homes in fairly new subdivisions.,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e,3.8430
1064,1.096825e+20,Lee Morrison,1543167503668,2,Roads are terrible. Neighbors park in yards. ...,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e,2.5000
1065,1.016355e+20,Yolanda Lee,1511012869245,4,None,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e,0.0000
1066,1.179038e+20,Alex Montgomery,1470080056470,5,None,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e,0.0000
1067,1.091065e+20,Kellye Talley,1523618730754,5,None,None,None,0x88892dc32d67742d:0x91dc8f0e85b37f5e,0.0000
...,...,...,...,...,...,...,...,...,...
14576,1.111875e+20,justin brewer,1468234952507,3,The price was really cheap but the customer se...,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346,1.9332
14577,1.024580e+20,Lori Jackson,1468821079404,5,not to far from the beach. basic rooms but cle...,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346,4.0998
14578,1.160667e+20,Amanda Coburn,1467180154794,2,Going through a remodel...,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346,3.0000
14579,1.142130e+20,Rita Clark,1490455631945,4,None,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346,0.0000
14580,1.082172e+20,Timothy Sanford,1451746099097,5,None,None,None,0x889a04ce45e4b54b:0x69dd99eebda77346,0.0000

- Reseteamos los indices

In [61]:
df_h_analisis.reset_index(drop=True, inplace=True)

- Guardamos en formato CSV para un futuro uso.

In [64]:
df_h_analisis.to_csv("../CSV/hoteles_Alabama1.csv", index=False)